@using VanWagenen.Dvc.Web.Helpers

@model VanWagenen.Dvc.Web.ViewModels.EditCheckViewModel

<script type="text/javascript" src="~/Scripts/app/UpdateCheck.js"></script>

<div id="addupdateCheckModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">@ViewBag.Title</h4>
    </div>
    
    <div class="modal-body">
        <div class="row form-group form-group-sm">
            <div class="col-xs-12">
                <label class="btn btn-primary" for="CheckUpload">
                    <input id="CheckUpload" name="CheckUpload" type="file" style="display: none;">
                    Choose Filename...
                </label>
                <span class="label upload-file-name" id="check-file-name"></span>
            </div>
        </div>

        <div class="row form-group form-group-sm">
            <div class="col-xs-4">
                @Html.Label("Check Number")
                @Html.TextBoxFor(model => model.CheckNumber, new { @class = "form-control" })
            </div>
            <div class="col-xs-4">
                @Html.Label("Check Amount")
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">$</span>
                    @Html.TextBoxFor(model => model.CheckAmount, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.CheckAmount)
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.ClaimId, new { id = "ClaimId" })
    @Html.HiddenFor(model => model.CheckId, new { id = "CheckId" })
    <div class="modal-footer">
        <input type="button" class="btn btn-success" name="UpdateCheck" id="UpdateCheck" value="Update Check" />
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>









</div>
