@using VanWagenen.Dvc.Web.Helpers
@using VanWagenen.Dvc.Repository.Models
@model List<VanWagenen.Dvc.Web.ViewModels.VehicleAccessoriesViewModel>
<script src="~/Scripts/app/VehicleAccessories.js"></script>
<div id="target">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Vehicle Accessories - Retail</h4>
    </div>
    @if (Model.Any())
    {
        using (Html.BeginForm("UpdateAccessories", "Claim", new {claimId = Model[0].ClaimId, vehicleId = Model[0].VehicleId, dvType = Model[0].TypeOfDiminishedValue}))
        {
            <div class="modal-body">
                <div class="form-horizontal">
                    <table class="table">
                        <tr>
                            <th></th>
                            <th>
                                Accessory Code
                            </th>
                            <th>
                                Accessory
                            </th>
                            <th class="acc-retail-value">
                                Value
                            </th>
                        </tr>
                        @for (var i = 0; i < @Model.Count; i++)
                        {
                            @Html.HiddenFor(a => Model[i].ClaimId)
                            @Html.HiddenFor(a => Model[i].AccCode)
                            @Html.HiddenFor(a => Model[i].AccRetail)
                            @Html.HiddenFor(a => Model[i].AccessoryDescription)
                            @Html.HiddenFor(a => Model[i].VehicleId)
                            <tr>
                                <td>
                                    @Html.EditorFor(a => Model[i].SelectedAccessory)
                                </td>
                                <td>
                                    @Model[i].AccCode
                                </td>
                                <td>
                                    @Model[i].AccessoryDescription
                                </td>
                                <td class="acc-retail-value">
                                    @Model[i].AccRetail
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button id="submitAccessories" type="submit" class="btn btn-success">Update FMV</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        }
    }
    else
    {
        <div class="modal-body">
            No accessories found for this vehicle.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    }

</div>
