
@using VanWagenen.Dvc.Repository.Models
@using VanWagenen.Dvc.Web.Helpers
@model VanWagenen.Dvc.Web.ViewModels.UpdateClaimViewModel

@if (Model.Claim.Notes != null && Model.Claim.Notes.Count() > 0)
{
    <table id="ReportTable" class="table table-striped" style="border-top: thin solid gainsboro">
        <thead>
            <tr>
                <th class="col-xs-1">
                    @Html.Label("Actions")
                </th>
                <th class="col-xs-2">
                    @Html.Label("Created Date")
                </th>
                <th class="col-xs-1">
                    @Html.Label("User")
                </th>
                <th class="col-xs-8">
                    @Html.Label("Note Content")
                </th>
            </tr>
        </thead>
        <tbody>
            @{ var inx = 1;}
            @foreach (Note note in Model.Claim.Notes)
            {
                <tr>
                    <td class="col-xs-1">
                        @if (note.User == User.Identity.Name)
                        {
                            <span title="Edit Note" class="EditNote fa fa-pencil-square-o" id="EditNote" name="EditNote" data-toggle="modal" data-id="@note.Id" data-content="@note.Content">
                            </span>
                        }

                    </td>
                    <td class="col-xs-2">
                        <span>@note.CreatedDate.ToLocalTime().ToShortDateString()</span> <span style="white-space: nowrap;">@note.CreatedDate.ToLocalTime().ToShortTimeString()</span>
                    </td>
                    <td class="col-xs-1">
                        @if (@note.User != "")
                        {
                            @note.User.Substring(4)
                        }
                        
                    </td>
                    <td id="note-content-@inx" class="col-xs-8">
                        @note.Content
                    </td>
                </tr>
                inx += 1;
            }
        </tbody>
    </table>
}