@model VanWagenen.Dvc.Web.ViewModels.ClientInfoViewModel
@using VanWagenen.Dvc.Web.Helpers
@using Microsoft.Ajax.Utilities

<div class="row">
    <div class="col-xs-4">
        <div class="row form-group form-group-sm">
            <div class="col-xs-1"></div>
            @Html.Label("Client Name", new { @class = "col-xs-3" })
            <div class="col-xs-7">
                @Html.TextBoxFor(model => model.ClientInfo.Name, new { @disabled="disabled", @class = "disabled, form-control" })
            </div>
        </div>
        <div class="row form-group form-group-sm">
            <div class="col-xs-1"></div>
            @Html.Label("Legal Name", new { @class = "col-xs-3" })
            <div class="col-xs-7">
                @Html.TextBoxFor(model => model.ClientInfo.LegalName, new { @disabled = "disabled", @class = "disabled, form-control" })
            </div>
        </div>
        <div class="row form-group form-group-sm">
            <div class="col-xs-1"></div>
            @Html.Label("Client Code", new { @class = "col-xs-3" })
            <div class="col-xs-7">
                @Html.TextBoxFor(model => model.ClientInfo.ClientCode, new { @disabled = "disabled", @class = "disabled, form-control" })
            </div>
        </div>
        <div class="row form-group form-group-sm">
            <div class="col-xs-1"></div>
            @Html.Label("Client Number", new { @class = "col-xs-3" })
            <div class="col-xs-7">
                @Html.TextBoxFor(model => model.ClientInfo.ClientNumber, new { @disabled = "disabled", @class = "disabled, form-control" })
            </div>
        </div>
        @if (!Model.BrandCode.IsNullOrWhiteSpace())
        {
            <div class="row form-group form-group-sm">
                <div class="col-xs-1"></div>
                @Html.Label("Brand Code", new { @class = "col-xs-3" })
                <div class="col-xs-7">
                    @Html.TextBoxFor(model => model.BrandCode, new { @disabled = "disabled", @class = "disabled, form-control" })
                </div>
            </div>
        }
        <div class="row form-group form-group-sm">
            <div class="col-xs-1"></div>
            @Html.Label("Dvc Phone Number", new { @class = "col-xs-3" })
            <div class="col-xs-7">
                @Html.TextBoxFor(model => model.ClientInfo.DvcPhoneNumber, new { @disabled = "disabled", @class = "disabled, form-control" })
            </div>
        </div>
        <div class="row form-group form-group-sm">
            <div class="col-xs-1"></div>
            @Html.Label("Dvc Fax Number", new { @class = "col-xs-3" })
            <div class="col-xs-7">
                @Html.TextBoxFor(model => model.ClientInfo.DvcFaxNumber, new { @disabled = "disabled", @class = "disabled, form-control" })
            </div>
        </div>
        <div class="row form-group form-group-sm">
            <div class="col-xs-1"></div>
            @Html.Label("Dvc Email Address", new { @class = "col-xs-3" })
            <div class="col-xs-7">
                @Html.TextBoxFor(model => model.ClientInfo.DvcEmailAddress, new { @disabled = "disabled", @class = "disabled, form-control" })
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="row form-group form-group-sm">
            <div class="col-xs-6">
                <fieldset class="fs-group">
                    <legend class="fs-group">
                        Address
                    </legend>
                    <div>@Model.ClientInfo.PaymentAddress</div>
                    @{ string addr = string.Concat(Model.ClientInfo.PaymentCity, ", ", Model.ClientInfo.PaymentState, " ", Model.ClientInfo.PaymentZip);}
                    <div>@addr</div>
                </fieldset>
            </div>
        </div>
        <div class="row form-group form-group-sm">
            <div class="col-xs-6">
                @Html.Label("Logo")<br/>
                @if (!Model.ClientInfo.LogoFileLocation.IsNullOrWhiteSpace())
                {
                    <img src="~/Images/Logos/@Path.GetFileName(Model.ClientInfo.LogoFileLocation)" style="height: 4em; width: auto;" alt="Client Logo" />
                }
                else
                {
                    <span>NA</span>
                }
            </div>
        </div>
    </div>
</div>
