@using VanWagenen.Dvc.Domain.Models
@using VanWagenen.Dvc.Web.Helpers

@model VanWagenen.Dvc.Web.ViewModels.ClaimHistoryViewModel

@* This view is currently not used.  This view provides a table view of the history.  Instead, we are currently using the _ViewClaimHisory view to display the history. *@
@if (Model.ClaimWorkflowHistory != null && Model.ClaimWorkflowHistory.Count() > 0)
{
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <table class="table table-sm table-striped">
            <thead class="thead-default">
                <tr>
                    <th>Type</th> @* state change, note, or document *@
                    <th>State</th>
                    <th>Trigger</th>
                    <th>Reason</th>
                    <th>Date</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ClaimHistory history in Model.ClaimWorkflowHistory)
                {
                    var title = "";
                    if (history.HistoryType == HistoryType.Note)
                    {
                        title = (history.HistoryObject as VanWagenen.Dvc.Repository.Models.Note).Content;
                    } else if (history.HistoryType == HistoryType.Document)
                    {
                        var docType = (history.HistoryObject as VanWagenen.Dvc.Repository.Models.Document).DocumentType;

                        title = Enum.GetName(typeof(SelectListItemHelper.DocumentType), docType);
                    }
                    <tr title="@title">
                        <td>@history.HistoryType.GetDisplayName()</td>
                        @if (history.HistoryType == HistoryType.StateChange)
                        {
                            var stateDesc = (history.HistoryObject as VanWagenen.Dvc.Repository.Models.ClaimWorkflowStateHistory).NewState.GetDisplayName();
                            <td>@stateDesc</td>
                        } else
                        {
                            <td></td>
                        }
                      
                        <td>@history.Trigger</td>
                        <td>@history.Reason</td>
                        <td><span>@history.DateEntered.ToShortDateString()</span> <span class="add-space">@history.DateEntered.ToShortTimeString()</span></td>
                        <td>@history.User</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}