@using VanWagenen.Dvc.Repository.Models
@model VanWagenen.Dvc.Web.ViewModels.UpdateClaimViewModel
@if (Model.Checks != null && Model.Checks.Any())
{
    if (Model.Checks.Any(chk => chk.ErrorMessage != ""))
    {
        <div class="row">
            <div class="col-xs-12">
                <h4 class="error">@Model.Checks.First(chk => chk.ErrorMessage != "").ErrorMessage</h4>
            </div>
        </div>
    }
    <div class="row form-group form-group-sm">
        @if (Model.Checks != null && Model.Checks.Any())
        {
            <div class="col-xs-6" style="min-width: 593px;">
                <table id="checkTable" class="table table-striped">
                    <tr>
                        <th>Actions</th>
                        <th>Check Number</th>
                        <th>Check Amount</th>
                        <th>Upload Date</th>
                        <th>Upload User</th>
                    </tr>
                    @for (int i = 0; i < Model.Checks.Count; i++)
                {
                <tr>
                    <td>
                        <a href="@Url.Action("DownloadDocument", "Claim", new { id = Model.Checks[i].Document.Id })">
                            <i title="Open Check" class="more-less fa fa-download row-button" data-toggle="tooltip"></i>
                        </a>
                        @if (Model.UserIsManager)
                        {
                            <a href="@Url.Action("EditClaimCheck", "Claim", new {claimId = Model.Claim.Id, checkId = Model.Checks[i].CheckId, docId = Model.Checks[i].DocumentId})"
                                data-target="#modal-container" data-toggle="modal">
                                <i title="Edit Check" data-toggle="tooltip" class="fa fa-pencil-square-o row-button"></i>
                            </a>

                            <span class="DeleteCheck" id="DeleteCheck" name="DeleteCheck" data-docid="@Model.Checks[i].DocumentId" data-claimid="@Model.Claim.Id">
                                <i title="Delete Check" data-toggle="tooltip" class="fa fa-trash row-button"></i>
                            </span>
                        }
                    </td>
                    <td class="checkNum">@Model.Checks[i].CheckNumber</td>
                    <td class="checkAmount">@Model.Checks[i].CheckAmount</td>
                    <td>@Model.Checks[i].Document.UploadedDate.ToShortDateString()</td>
                    <td>@Model.Checks[i].Document.UploadedUser</td>
                </tr>

                @Html.HiddenFor(model => model.Checks[i].ClaimId)
                @Html.HiddenFor(model => model.Checks[i].DocumentId)
                }
                </table>
            </div>
        }
    </div>
} else {
    <h3>No checks have been attached to this claim.</h3>
}