@using VanWagenen.Dvc.Domain.Helpers
@using VanWagenen.Dvc.Web.ViewModels
@using VanWagenen.Dvc.Repository.Models
@using VanWagenen.Dvc.Web.Helpers
@using VanWagenen.Dvc.Web.Controllers
@model VanWagenen.Dvc.Web.ViewModels.UpdateClaimViewModel
@section Scripts{
    <script src="~/Scripts/app/viewClaim.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        //todo:  move these to the viewclaim.js

        function OnAddContactSuccess() {
            //$('#addContactModal').modal('toggle');
            $("#UpdateClaim").click();
        }

        function OnAddContactFailure(data) {

            alert('Contact was not added');
            alert(data);
        }

        function onTestFailure(xhr, status, error) {

            console.log("xhr", xhr);
            console.log("status", status);

            // TODO: make me pretty
            alert(error);
        }

        function OnAddNoteSuccess() {
            var newNote = $("#Note_Content").val();
            $('#LastNoteContent').val(newNote);
            $("#divLastNoteContent").prop("title", newNote).tooltip('fixTitle');

            $("#Note_Content").val("");
            $('#addNoteModal').modal('toggle');
            $('#SubmitNote').removeAttr('disabled');
        }

        function OnAddNoteFailure(ajaxContext) {
            $('#SubmitNote').removeAttr('disabled');
            alert('Note was not added, make sure your note is not blank');
        }

        function OnUpdateNoteSuccess() {
            $('#editNoteModal').modal('toggle');
            $('#UpdateNote').removeAttr('disabled');
            var lastNote = $('#note-content-1').html();
            $('#LastNoteContent').val($.trim(lastNote));
        }

        function OnUpdateNoteFailure(ajaxContext) {
            $('#UpdateNote').removeAttr('disabled');
            alert('Note was not updated, ,make sure your note is not blank');
        }

        function OnAddCheckSuccess() {
            $('#addCheckModal').modal('toggle');
            alert('Check was added to claim.');
        }

        function OnUpdateDocumentFailure(ajaxContext) {
            alert('Document was not added');
        }

        function OnUpdateDocumentTypeSuccess() {
            $('#editDocumentTypeModal').modal('toggle');
            $('#UpdateDocumentType').removeAttr('disabled');
        }

        function OnUpdateDocumentTypeFailure(ajaxContext) {
            alert('Document was not updated');
            $('#UpdateDocumentType').removeAttr('disabled');
        }

        function OnFaxDocumentSuccess() {
            alert('Fax was sent successfully.');
            $('#faxDocumentModal').modal('toggle');
            $('.modal-backdrop').remove();

            //TODO: Remove this and actually fix it. Issue that is after a successful fax, the screen will not scroll until the Fax button is clicked again.
            $('#faxFormButton').click();

            //Unchecks the checkboxes and disables the fax button.
            $('#documentTable').find('input[type=checkbox]:checked').removeAttr('checked');
            $(".faxFormButtonEnabled").hide();
            $(".faxFormButtonDisabled").show();
        }

        function OnFaxDocumentFailure(ajaxContext) {
            alert('Documents not sent to fax');
        }

        function verifyLeaseDates() {

            var leaseEndDate = new Date($('#Claim_Vehicle_LeaseEnd').val());
            var leaseStartDate = new Date($('#Claim_Vehicle_LeaseStart').val());

            if (leaseEndDate.setHours(0, 0, 0, 0) < leaseStartDate.setHours(0, 0, 0, 0)) {
                alert('Lease End Date cannot be a date before Lease Start Date.');
                return false;
            };
        };
    </script>
    <script>
        $(function () {

            $('#modal-container').on('change', '#SelectedTrigger', function () {
                var selectedTrigger = $('#SelectedTrigger').val();
                if (!selectedTrigger) {
                    $('#FollowUpActionDate').val('');
                    return;
                }
                switch (selectedTrigger) {
                    case '@Claim.Trigger.WaitingForCall.ToString()':
                        $('#FollowUpActionDate').val('@ViewBag.DefaultDatesDictionary[Claim.Trigger.WaitingForCall]');
                        break;
                    case '@Claim.Trigger.WaitingForDocument.ToString()':
                        $('#FollowUpActionDate').val('@ViewBag.DefaultDatesDictionary[Claim.Trigger.WaitingForDocument]');
                        break;
                    case '@Claim.Trigger.WaitingForPendingPayment.ToString()':
                        $('#FollowUpActionDate').val('@ViewBag.DefaultDatesDictionary[Claim.Trigger.WaitingForPendingPayment]');
                        break;
                    case '@Claim.Trigger.WaitedForRepairEstimate.ToString()':
                        $('#FollowUpActionDate').val('@ViewBag.DefaultDatesDictionary[Claim.Trigger.WaitedForRepairEstimate]');
                        break;
                    case '@Claim.Trigger.SentLetter.ToString()':
                        $('#FollowUpActionDate').val('@ViewBag.DefaultDatesDictionary[Claim.Trigger.SentLetter]');
                        break;
                    case '@Claim.Trigger.DocumentAttached.ToString()':
                        $('#FollowUpActionDate').val('@ViewBag.DefaultDatesDictionary[Claim.Trigger.DocumentAttached]');
                        break;
                    default:
                        $('#FollowUpActionDate').val('@DateTime.Now.AddDays(1).ToString("MM/dd/yyyy")');
                }
            });
        });
    </script>
}
<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<!-- header row and button panel -->
<div class="row">
    <div class="col-xs-12">
        <div class="claim-header-row">
            <!-- details and action buttons -->
            <div class="row" style="margin-top:5px;">
                <div class="col-md-5" style="min-width: 575px;">
                    <span style="padding:15px;">
                        @Html.Label("Claim:")
                        @Html.DisplayFor(model => model.Claim.Id)
                    </span>
                    <span style="padding:15px">
                        @Html.Label("Claim State:")
                        <span id="ViewClaimState">@Model.Claim.ClaimState.GetDisplayName()</span>
                    </span>
                    <span style="padding:15px;">
                        @Html.Label("Create Date:")
                        @Html.DisplayFor(model => model.Claim.CreatedDate)
                    </span>
                    <span style="padding:15px;">
                        @Html.DisplayFor(model => model.Claim.Age) @Html.Label("day(s) old")
                    </span>
                    <br />
                    <span style="padding:15px;">
                        @Html.Label("VIN:") <label style="font-weight:normal" id="vinLabel">@Html.DisplayFor(model => model.Claim.Vehicle.VIN)</label>
                    </span>
                    <span style="padding:15px;">
                        @Html.Raw(string.Format("{0} {1} {2}", Model.Claim.Vehicle.Year, Model.Claim.Vehicle.Make, Model.Claim.Vehicle.Model))
                    </span>
                    <span style="padding:15px;">
                        @Html.Label("Assigned To: ") <label style="font-weight:normal">@Html.DisplayFor(model => model.Claim.Assignee.Name)</label>
                    </span>
                </div>
                <div class="col-md-7">
                    <div class="row" style="min-width: 760px;">
                        <div class="col-md-8" style="min-width: 548px;">
                            <div class="dvc-key-info">
                                <span style="padding-right: 8px;">
                                    <span style="color: gray;">@Html.Label("Carrier:")</span>
                                    <span style="font-weight: bold;">@Html.DisplayFor(model => model.Claim.Carrier)</span>
                                </span>
                                @{ var contact = Model.Claim.ClaimContacts.OrderByDescending(cc => cc.Contact.Active).FirstOrDefault().Contact;}
                                @if (!string.IsNullOrEmpty(contact.FirstName) || (!string.IsNullOrEmpty(contact.LastName)))
                                {
                                    <span style="padding-right: 8px;">
                                        <span style="color: gray;">@Html.Label("Contact:")</span>
                                        <span style="font-weight: bold;">@string.Concat(contact.FirstName, "  ", contact.LastName)</span>
                                    </span>
                                }
                                <span style="padding-right: 8px;">
                                    <span style="color: gray;">@Html.Label("Phone:")</span>
                                    <span style="font-weight: bold;">@Html.PhoneNumber(contact.PhoneNumber)</span>
                                </span>
                                <br />
                                <div class="row">
                                    <div id="divLastNoteContent" class="col-xs-12" title="@Model.LastNoteContent" data-toggle="tooltip" data-placement="bottom">
                                        <div class="input-group input-group-xs">
                                            <span class="input-group-addon">Last Note</span>
                                            @Html.TextBoxFor(model => model.LastNoteContent, new { @class="disabled header-note form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="min-width: 290px !important;">
                            <div style="margin-top: 5px;">
                                @if (Model.Claim.ClaimState == Claim.State.Close)
                                {
                                    <span class="btn btn-default glyphicon glyphicon-calendar disabled" title="Assign Follow Up"></span>
                                }
                                else
                                {
                                    @Html.ActionLink(" ", "ClaimHeaderView", "Claim", new { Id = Model.Claim.Id }, new { @class = "btn btn-default glyphicon glyphicon-calendar", title = "Assign Follow Up", data_target = "#modal-container", data_toggle = "modal" })
                                }
                                @Html.ActionLink(" ", "GenerateClaimDocumentView", "Claim", new { Id = Model.Claim.Id }, new { @class = "btn btn-default glyphicon glyphicon-file GenerateLetter", title = "Generate Letter", data_target = "#modal-container", data_toggle = "modal" })
                                @if (Model.Claim.ClaimState == Claim.State.Close)
                                {
                                    <span class="btn btn-default glyphicon glyphicon-eject disabled" title="Cannot Close Claim because it's already closed."></span>
                                }
                                else
                                {
                                    @Html.ActionLink(" ", "CloseClaimView", "Claim", new { Id = Model.Claim.Id }, new { @class = "btn btn-default glyphicon glyphicon-eject", title = "Close Claim", data_target = "#modal-container", data_toggle = "modal" })
                                }
                                <span name="ExpandAll" id="ExpandAll" title="Collapse all panels" value="Collapse All" class="btn btn-default">
                                    <i class="more-less glyphicon glyphicon-chevron-down"></i>
                                </span>
                                <button type="submit" form="updateClaimForm" name="UpdateClaim" id="UpdateClaim" value="Update Claim" title="Update Claim" class="btn btn-default">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </button>
                                <button type="submit" form="updateClaimForm" name="UpdateClaim" id="ExitClaim" data-claimid="@Model.Claim.Id" value="Exit Claim" title="Exit Claim" class="btn btn-default">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Claim Form Fields -->
<div class="row form-group panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 62px; margin-bottom:5px;">

    @if (Model.EnableReview)
    {
        <div style="text-align: center; padding-bottom: 5px;">
            @Html.ActionLink("Mark as Reviewed", "MarkAsReviewed", "Claim", new { claimId = Model.Claim.Id, fromEscalationQueue = Model.FromEscalationQueue, clientId = Model.Claim.Client.Id }, new { @class = "btn btn-primary" })
        </div>
    }
    @Html.Partial("_BaseMessages")
    @using (Html.BeginForm("UpdateClaim", "Claim", FormMethod.Post, new { id = "updateClaimForm", enctype = "multipart/form-data", onsubmit = "return verifyLeaseDates()" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Claim.Id, new { id = "Id" })
        @Html.HiddenFor(model => model.EnableReview)
        @Html.HiddenFor(Model => Model.FromEscalationQueue)
        @Html.HiddenFor(Model => Model.ReturnUrl, new { @class="return-url" })
        @Html.HiddenFor(Model => Model.LesseeState)

        @*LEFT COLUMN*@
        <div class="col-xs-6 main-col">
            @*Details*@
            <div class="panel panel-default">
                <div class="panel-heading section-header" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapseDetails" aria-expanded="true" aria-controls="collapseDetails">
                            Details
                        </a>
                    </h4>
                </div>
                <div id="collapseDetails" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div id="details" class="panel-body" style="padding-bottom: 2px !important;">
                        <div class="form-group form-group-sm row">
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Client.Id, "Client")<br />
                                @Html.DropDownListFor(model => model.Claim.Client.Id, ViewBag.Clients as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.ClientAccountNumber, "Client Account No")<br />
                                @Html.TextBoxFor(model => model.Claim.Vehicle.ClientAccountNumber, new { @disabled = "disabled", @class = "form-control disabled" })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.LesseeName, "Lessee Name")<br/>
                                @if (Model.UserIsManager)
                                {
                                    @Html.TextBoxFor(model => model.Claim.Vehicle.LesseeName, new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Claim.Vehicle.LesseeName, new { @class = "form-control disabled", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.Claim.Vehicle.LesseeName)
                                }
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.LesseeState, "Lessee State")<br/>
                                @Html.TextBoxFor(model => Utilities.StateLookup.FirstOrDefault(s => s.Value == model.LesseeState).Key, new { @class = "form-control disabled", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.LeaseStart, "Lease Start Date")
                                @Html.EditorFor(model => model.Claim.Vehicle.LeaseStart, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.LeaseEnd, "Lease End Date")<br />
                                @Html.EditorFor(model => model.Claim.Vehicle.LeaseEnd, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.RepoDate, "Repo Date")<br />
                                @Html.EditorFor(model => model.Claim.Vehicle.RepoDate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.SaleDate, "Sale Date")<br />
                                @Html.EditorFor(model => model.Claim.Vehicle.SaleDate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                       </div>
                        <div class="form-group form-group-sm row" style="padding-bottom: 2px !important;">
                           <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.SalePrice, "Sale Price")<br />
                                @Html.TextBoxFor(model => model.Claim.Vehicle.SalePrice, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.AuctionName, "Auction Name")<br />
                                @Html.TextBoxFor(model => model.Claim.Vehicle.AuctionName, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.StockNumber, "Stock Number")<br />
                                @Html.TextBoxFor(model => model.Claim.Vehicle.StockNumber, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.AuctionContactPhoneNumber, "Contact Phone")<br />
                                @Html.TextBoxFor(model => model.Claim.Vehicle.AuctionContactPhoneNumber, new { @class = "form-control phoneNumberMask", pattern = ".{0}|.{12,}", title = "Phone Number must have 10 digits" })
                            </div>
                        </div>
                        <div class="form-group form-group-sm row" style="padding-bottom: 2px !important;">
                            <div class="col-xs-4">
                                @Html.LabelFor(model => model.Claim.Vehicle.AuctionAddress, "Auction Address")<br />
                                @Html.TextBoxFor(model => model.Claim.Vehicle.AuctionAddress, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-4">
                                @Html.LabelFor(model => model.Claim.Vehicle.AuctionCity, "Auction City")<br/>
                                @Html.TextBoxFor(model => model.Claim.Vehicle.AuctionCity, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-2">
                                @Html.LabelFor(model => model.Claim.Vehicle.AuctionState, "State")<br />
                                @Html.DropDownListFor(model => model.Claim.Vehicle.AuctionState, SelectListItemHelper.GetStateList(), new { @class = "selectpicker", data_live_search = "true" })
                               @*@Html.TextBoxFor(model => model.Claim.Vehicle.AuctionState, new { @class = "form-control" })*@
                            </div>
                            <div class="col-xs-2">
                                @Html.LabelFor(model => model.Claim.Vehicle.AuctionZip, "Zip Code")<br />
                                @Html.TextBoxFor(model => model.Claim.Vehicle.AuctionZip, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Diminished*@
            <div class="panel panel-default">
                <div class="panel-heading section-header" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapseDiminishedValue" aria-expanded="true" aria-controls="collapseDiminishedValue">
                            Diminished Value
                        </a>
                    </h4>
                </div>
                <div id="collapseDiminishedValue" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                    <div id="diminishedValue" class="panel-body" style="padding-bottom: 2px !important;">
                        <div class="row dv-type-container">
                            <div class="col-xs-2" title="Date of Loss" data-toggle="tooltip">
                                @Html.RadioButtonFor(m => m.Claim.DiminishedValue.TypeofDiminishedValue, "1") @Html.Label("Immediate")
                            </div>
                            <div class="col-xs-2" title="Current" data-toggle="tooltip">
                                @Html.RadioButtonFor(m => m.Claim.DiminishedValue.TypeofDiminishedValue, "3") @Html.Label("Inherent")
                            </div>
                            <div class="col-xs-7"></div>
                            <div class="col-xs-1 dv-type-help" title="Changing Diminished Value Type (immediate or inherent) will save the claim to recalculate Fair Market Value and update the Diminished Value section." data-toggle="tooltip">
                                <i id="dvtype-addon" class="fa fa-question" style="margin-left: -3px; margin-top: 5px !important;"></i>
                            </div>                
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">

                                <!-- 17c Diminished Value Section-->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div id="seventeenC-header" class="row diminished-value-header">
                                            <div class="col-xs-11">@Html.RadioButtonFor(m => m.Claim.DiminishedValue.CalculationType, "1")  @Html.Label("17C")</div>
                                            <div class="col-xs-1" style="width: 22px; float: right; padding-top: 2px;">
                                                <span id="collapse-seventeenC" title="Collapse 17C section"><i id="seventeenC-expandcollapse-icon" class="fa fa-chevron-down"></i></span>
                                            </div>
                                        </div>
                                        <div id="seventeenC-body" class="diminished-value-body">
                                            <div class="form-group form-group-sm row">
                                                <div class="col-xs-3">
                                                    @Html.LabelFor(m => m.Claim.DiminishedValue.FairMarketValue2, "Fair Market Value")
                                                    @Html.TextBoxFor(m => m.Claim.DiminishedValue.FairMarketValue2, new { @class = "form-control disabled", @disabled = "disabled" })
                                                    @Html.HiddenFor(m => m.Claim.DiminishedValue.FairMarketValue2)
                                                </div>
                                                <div class="col-xs-2">
                                                    @Html.LabelFor(m => m.Claim.DiminishedValue.ArbitraryCap, "Arbitrary Cap")
                                                    <div class="input-group input-group-sm">
                                                        @Html.TextBoxFor(m => m.Claim.DiminishedValue.ArbitraryCap, new { @class = "form-control", @aria_describedBy = "arbitraryCapAddon", @type="number" })
                                                        <span class="input-group-addon" id="arbitraryCapAddon">%</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-7">
                                                    @Html.LabelFor(m => m.Claim.DiminishedValue.DamageMultiplier, "Damage Multiplier")
                                                    @Html.DropDownListFor(model => model.Claim.DiminishedValue.DamageMultiplier, SelectListItemHelper.GetDamageMultiplier(), new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm row">
                                                <div class="col-xs-5">
                                                    @Html.LabelFor(m => m.Claim.DiminishedValue.DipOnMileage, "Dip on Mileage")
                                                    @Html.DropDownListFor(model => model.Claim.DiminishedValue.DipOnMileage, SelectListItemHelper.GetDipOnMileage(), new { @class = "form-control" })
                                                </div>
                                                <div class="col-xs-4">
                                                    @Html.LabelFor(m => m.Claim.DiminishedValue.SeventeenCDiminishedValue, "17c Diminished Value")
                                                    @Html.TextBoxFor(m => m.Claim.DiminishedValue.SeventeenCDiminishedValue, new { @class = "form-control disabled", @disabled = "disabled" })
                                                    @Html.HiddenFor(m => m.Claim.DiminishedValue.SeventeenCDiminishedValue)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Actual Diminished Value Section-->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div id="actual-dv-header" class="row diminished-value-header">
                                            <div class="col-xs-11">@Html.RadioButtonFor(m => m.Claim.DiminishedValue.CalculationType, "2")  @Html.Label("Actual Diminished Value")</div>
                                            <div class="col-xs-1" style="width: 22px; float: right; padding-top: 2px;">
                                                <span id="collapse-actual-dv" title="Collapse Actual Diminished Value section"><i id="actual-dv-expandcollapse-icon" class="fa fa-chevron-down"></i></span>
                                            </div>
                                        </div>
                                        <div id="actual-dv-body" class="diminished-value-body">
                                            <div class="form-group form-group-sm row">
                                                <!-- Undamaged value Listing -->
                                                <div class="col-xs-6">
                                                    <fieldset class="fs-group">
                                                        <legend class="fs-group">Undamaged Value</legend>
                                                        <div class="row">
                                                            <div id="DiminishedValueUndamagedValues" style="padding-top: 0px; padding-bottom: 2px;" class="panel-body col-xs-12">
                                                                <div id="DiminishedValueUndamagedRows">
                                                                    @if (Model.Claim.DiminishedValue != null && Model.Claim.DiminishedValue.DiminishedValueComparableVehicles.Count > 0)
                                                                        {
                                                                            var comparableVehicleList = Model.Claim.DiminishedValue.DiminishedValueComparableVehicles.Where(x => x.ComparableType == 0).ToList();
                                                                            if (comparableVehicleList.First().Resource == "NADA")
                                                                            {
                                                                        <div class="row" style="padding-bottom: 2px;">
                                                                            <div class="col-xs-9">
                                                                                <div class="input-group input-group-sm">
                                                                                    <span class="input-group-addon">$</span>
                                                                                    @Html.TextBoxFor(m => m.FirstDVCVNadaValue.Value, new { @class = "form-control disabled", @disabled = "disabled", @type="text" })
                                                                                    <span class="input-group-addon">@comparableVehicleList.First().Resource</span>
                                                                                </div>
                                                                                @Html.HiddenFor(m => m.FirstDVCVNadaValue.Value)
                                                                            </div>
                                                                        </div>
                                                                            }
                                                                            for (var i = 1; i < comparableVehicleList.Count(); i++)
                                                                            {
                                                                        <div class="row" style="padding-bottom: 2px;">
                                                                            <div class="col-xs-9">
                                                                                <div class="input-group input-group-sm">
                                                                                    <span class="input-group-addon">$</span>
                                                                                    <input type="text" class="form-control disabled" disabled value="@Math.Round(Convert.ToDecimal(comparableVehicleList[i].Value),2)" />
                                                                                    <span class="input-group-addon">@comparableVehicleList[i].Resource</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-3">
                                                                                <span id="DeleteDiminishedValueComparableVehicle" name="DeleteDiminishedValueComparableVehicle" title="Delete this Undamaged Value" style="cursor: pointer;" class="deleteDiminishedValueComparableVehicle fa fa-trash-o" data-id="@comparableVehicleList[i].Id">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                            }
                                                                        }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <span title="Add Undamaged Value" data-placement="right" data-toggle="tooltip"><span class="btn btn-default fa fa-plus" title="Add Undamaged Value" data-target="#addUndamagedValueModal" data-toggle="modal"></span></span>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <!-- Post Repair Value Listing -->
                                                <div class="col-xs-6">
                                                    <fieldset class="fs-group">
                                                        <legend class="fs-group">Post Repair Value</legend>
                                                        <div class="row">
                                                            <div id="DiminishedValuePostRepairValues" style="padding-top: 0px; padding-bottom: 2px;" class="panel-body col-xs-12">
                                                                <div id="DiminishedValuePostRepairRows">
                                                                    @if (Model.Claim.DiminishedValue != null && Model.Claim.DiminishedValue.DiminishedValueComparableVehicles.Count > 0)
                                                                        {
                                                                            var postRepairValuesList = Model.Claim.DiminishedValue.DiminishedValueComparableVehicles.Where(x => x.ComparableType == 1).ToList();
                                                                            if (postRepairValuesList.First().Resource == "Carfax")
                                                                            {
                                                                        <div class="row" style="padding-bottom: 2px;">
                                                                            <div class="col-xs-9">
                                                                                <div class="input-group input-group-sm">
                                                                                    <span class="input-group-addon">$</span>
                                                                                    @Html.TextBoxFor(m => m.FirstDVCVCarfaxValue.Value, new { @class = "form-control" })
                                                                                    <span class="input-group-addon">@postRepairValuesList.First().Resource</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                            }
                                                                            for (var i = 1; i < postRepairValuesList.Count(); i++)
                                                                            {
                                                                        <div class="row" style="padding-bottom: 2px;">
                                                                            <div class="col-xs-9">
                                                                                <div class="input-group input-group-sm">
                                                                                    <span class="input-group-addon">$</span>
                                                                                    <input type="text" class="form-control disabled" disabled value="@Math.Round(Convert.ToDecimal(postRepairValuesList[i].Value),2)" />
                                                                                    <span class="input-group-addon">@postRepairValuesList[i].Resource</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-3">
                                                                                <span id="DeleteDiminishedValueComparableVehicle" name="DeleteDiminishedValueComparableVehicle" title="Delete this Post Repair Value" style="cursor: pointer;" class="deleteDiminishedValueComparableVehicle fa fa-trash-o" data-id="@postRepairValuesList[i].Id">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                            }
                                                                        }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <span title="Add Post Repair Value" data-placement="right" data-toggle="tooltip"><span class="btn btn-default fa fa-plus" data-target="#addPostRepairValueModal" data-toggle="modal"></span></span>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm row">
                                                <div class="col-xs-5">
                                                    @Html.LabelFor(m => m.Claim.DiminishedValue.ActualDiminishedValue, "Actual Diminished Value")
                                                    @Html.TextBoxFor(m => m.Claim.DiminishedValue.ActualDiminishedValue, new { @class = "form-control disabled Claim_DiminishedValue_ActualDiminishedValue", @disabled = "disabled", @type = "number" })
                                                    @Html.HiddenFor(m => m.Claim.DiminishedValue.ActualDiminishedValue, new { @class = "Claim_DiminishedValue_ActualDiminishedValue" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Percent Diminnished value Section-->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div id="percent-dv-header" class="row diminished-value-header" >
                                            <div class="col-xs-11" style="padding-top: 4px;"><span style="font-weight: bold;">@Html.Label("Percent Diminished Value")</span></div>
                                            <div class="col-xs-1" style="width: 22px; float: right; padding-top: 2px;">
                                                <span id="collapse-percent-dv" title="Collapse Percent Diminished Value section"><i id="percent-dv-expandcollapse-icon" class="fa fa-chevron-down"></i></span>
                                            </div>
                                        </div>
                                        <div id="percent-dv-body" class="diminished-value-body">
                                            <div class="form-group form-group-sm row">
                                                <div class="col-xs-3">
                                                    @Html.Label("Fair Market Value")
                                                    <div class="input-group input-group-sm">
                                                        @Html.TextBoxFor(m => m.Claim.DiminishedValue.FairMarketValue2, new { id = "PercentFairMarketValue", @class = "form-control disabled", @disabled = "disabled" })
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    @Html.Label("* Percent")
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">*</span>
                                                        @Html.TextBoxFor(model => model.Claim.DiminishedValue.DiminishedPercent, new { @class = "form-control", @type="number" })
                                                        <span class="input-group-addon">%</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    @Html.Label(" = Diminished Value")
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">=</span>
                                                        @Html.TextBoxFor(model => model.Claim.DiminishedValue.DiminishedPercentValue, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group form-group-sm row">
                            <div class="col-xs-4">
                                @Html.LabelFor(m => m.Claim.DiminishedValue.DiminishedValueClaimAmount, "Diminished Value Claim Amount")
                                @Html.TextBoxFor(m => m.Claim.DiminishedValue.DiminishedValueClaimAmount, new { @class = "form-control disabled Claim_DiminishedValue_DiminishedValueClaimAmount", @disabled="disabled", @type = "number" })
                                @Html.HiddenFor(m => m.Claim.DiminishedValue.DiminishedValueClaimAmount, new { @class = "Claim_DiminishedValue_DiminishedValueClaimAmount" })
                            </div>
                            <div class="col-xs-4">
                                @Html.LabelFor(m => m.Claim.DiminishedValue.OriginalSettlementOffer, "Original Settlement Offer")
                                @Html.TextBoxFor(m => m.Claim.DiminishedValue.OriginalSettlementOffer, new { @class = "form-control disabled", @disabled="disabled" })
                            </div>
                            <div class="col-xs-4">
                                @Html.LabelFor(m => m.Claim.DiminishedValue.NegotiatedSettlementOffer, "Negotiated Settlement Offer")
                                @Html.TextBoxFor(m => m.Claim.DiminishedValue.NegotiatedSettlementOffer, new { @class = "form-control" })
                            </div>
                       </div>

                        <div class="form-group form-group-sm row">
                            <div class="col-xs-6">
                                @Html.LabelFor(m => m.Claim.AmountCollected, "Amount Collected")
                                @Html.TextBoxFor(m => m.Claim.AmountCollected, new { @class = "form-control disabled", @disabled = "disabled", id = "AmountCollected" })
                            </div>
                        </div>
                    </div>
                </div>
                <div id = "addUndamagedValueModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type = "button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Undamaged Value</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <label for="formGroupInputLarge1" class="col-sm-10 control-label">Add Undamaged Value for Claim @Model.Claim.Id</label>
                                </div>
                                <div class="row form-group form-group-sm">
                                    <div class="col-xs-6">
                                        @Html.LabelFor(m => m.UndamagedVehicle.Value, "Value")
                                        @Html.TextBoxFor(m => m.UndamagedVehicle.Value, new { @class = "form-control" })
                                    </div>
                                    <div class="col-xs-6">
                                        @Html.LabelFor(m => m.UndamagedVehicle.Resource, "Source")
                                        @Html.DropDownListFor(model => model.UndamagedVehicle.Resource, Model.ComparableSourcesUndamagedValue, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 btn-group">
                                        @Html.HiddenFor(m => m.Claim.Id)
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type = "button" name="AddUndamagedVehicle" id="AddUndamagedVehicle" class="btn btn-success" value="Add" />
                                <button type = "button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id = "addPostRepairValueModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type = "button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add PostRepair Value</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <label for="formGroupInputLarge1" class="col-sm-10 control-label">Add Post Repair Value for Claim @Model.Claim.Id</label>
                                </div>
                                <div class="row form-group form-group-sm">
                                    <div class="col-sm-6">
                                        @Html.LabelFor(m => m.PostRepairVehicle.Value, "Value")
                                        @Html.TextBoxFor(m => m.PostRepairVehicle.Value, new { @class="form-control" })
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.LabelFor(m => m.PostRepairVehicle.Resource)
                                        @Html.DropDownListFor(model => model.PostRepairVehicle.Resource, Model.ComparableSourcesPostRepairValue, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 btn-group">
                                        @Html.HiddenFor(model => model.Claim.Id)
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type = "button" name="AddPostRepairVehicle" id="AddPostRepairVehicle" class="btn btn-success" value="Add" />
                                <button type = "button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*RIGHT COLUMN*@
        <div class="col-xs-6 main-col">
            @*Vehicle*@
            <div class="panel panel-default">
                <div class="panel-heading section-header" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapseVehicle">
                            Vehicle Information
                        </a>
                    </h4>
                </div>
                <div id="collapseVehicle" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
                    <div id="vehicle" class="panel-body" style="padding-bottom: 2px !important;">
                        <div class="form-group form-group-sm row">
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.VIN, "VIN")<br />
                                @if (Model.UserIsManager)
                                {
                                    @Html.TextBoxFor(model => model.Claim.Vehicle.VIN, new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Claim.Vehicle.VIN, new { disabled = "disabled", @class = "disabled" })
                                    @Html.HiddenFor(model => model.Claim.Vehicle.VIN)
                                }
                            </div>
                            <div class="col-xs-3">
                                <span title="Changing Accessories will save the claim to recalculate Fair Market Value and update the Diminished Value section." data-toggle="tooltip">
                                    @Html.Label("Accessories", new { @class = "sr-only" })<br />
                                        @Html.ActionLink("Accessories", "VehicleAccessoriesView", "Claim",
                                        new
                                        {
                                            claimId = Model.Claim.Id,
                                            vin = Model.Claim.Vehicle.VIN,
                                            state = Model.LesseeState,
                                            vehicleId = Model.Claim.Vehicle.Id,
                                            dvType = Model.Claim.DiminishedValue.TypeofDiminishedValue
                                        },
                                        new
                                        {
                                            @class = "btn btn-default calc-field",
                                            data_target = "#modal-container",
                                            data_toggle = "modal"
                                        })
                                </span>
                           </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.DiminishedValue.FairMarketValue, "Fair Market Value")
                                <div class="input-group input-group-sm">
                                    @Html.TextBoxFor(model => model.Claim.DiminishedValue.FairMarketValue, new { @class = "form-control calc-field" })
                                    <span class="input-group-addon" title="Changing Fair Market Value will trigger Diminished Value recalculations." data-toggle="tooltip">
                                        <i id="fmv-addon" class="fa fa-question"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.LeaseReturnMileage, "Mileage")<br />
                                <div class="input-group input-group-sm">
                                    @Html.TextBoxFor(model => model.Claim.Vehicle.LeaseReturnMileage, new { @class = "form-control calc-field", @type="number", title = "Lease Return Mileage", data_toggle = "tooltip" })
                                    <span class="input-group-addon" title="Changing Mileage will save the claim to recalculate Fair Market Value and update the Diminished Value section." data-toggle="tooltip">
                                        <i id="mileage-addon" class="fa fa-question"></i>
                                    </span>
                                </div>                           
                            </div>
                        </div>

                        <div class="form-group form-group-sm row">
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.Year, "Year")<br />
                                @Html.TextBoxFor(model => model.Claim.Vehicle.Year, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.Make, "Make")<br />
                                @Html.TextBoxFor(model => model.Claim.Vehicle.Make, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.Model, "Model")<br />
                                @Html.TextBoxFor(model => model.Claim.Vehicle.Model, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.PreDamageCondition, "Pre-Damage Condition")<br />
                                @Html.DropDownListFor(model => model.Claim.Vehicle.PreDamageCondition, SelectListItemHelper.GetPreDamageCondition(), new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group form-group-sm row" style="padding-bottom: 2px !important;">
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.NumberOfDoors, "Number of Doors")<br />
                                @Html.TextBoxFor(model => model.Claim.Vehicle.NumberOfDoors, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.EngineSize, "Engine Size")<br />
                                @Html.TextBoxFor(model => model.Claim.Vehicle.EngineSize, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.Body, "Body")<br />
                                @Html.TextBoxFor(model => model.Claim.Vehicle.Body, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Vehicle.Color, "Color")<br />
                                @Html.TextBoxFor(model => model.Claim.Vehicle.Color, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Accident*@
            <div class="panel panel-default">
                <div class="panel-heading section-header" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapseAccident" aria-expanded="true" aria-controls="collapseAccident">
                            Accident Information
                        </a>
                    </h4>
                </div>
                <div id="collapseAccident" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div id="accident" class="panel-body">
                        <div class="form-group form-group-sm row">
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Accident.Date, "Accident Date")<br />
                                @Html.EditorFor(model => model.Claim.Accident.Date, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Accident.CauseOfDamage, "Cause of Damage")<br />
                                @Html.DropDownListFor(model => model.Claim.Accident.CauseOfDamage, SelectListItemHelper.GetCauseOfDamage(), new { @class = "form-control" })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Accident.Mileage, "Mileage")
                                <div class="input-group input-group-sm">
                                    @Html.TextBoxFor(model => model.Claim.Accident.Mileage, new { @class = "form-control calc-field", @type = "number", title = "Vehicle mileage when the accident occurred", data_toggle = "tooltip" })
                                    <span class="input-group-addon" title="Changing Accident Mileage will save the claim to recalculate Fair Market Value and update the Diminished Value section when the Diminished Value Type is Immediate." data-toggle="tooltip">
                                        <i id="accident-mileage-addon" class="fa fa-question"></i>
                                    </span>
                                </div>
                                @*@Html.LabelFor(model => model.Claim.Accident.Mileage, "Mileage")<br />
                                @Html.TextBoxFor(model => model.Claim.Accident.Mileage, new { @type="number", @class = "form-control calc-field accident-mileage" })*@
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Accident.RepairEstimate, "Repair Estimate")<br />
                                @Html.TextBoxFor(model => model.Claim.Accident.RepairEstimate, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group form-group-sm row">
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Accident.City, "City")<br />
                                @Html.TextBoxFor(model => model.Claim.Accident.City, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Accident.State, "State")<br />
                                @Html.DropDownListFor(model => model.Claim.Accident.State, SelectListItemHelper.GetStateList(), new { @class = "selectpicker", data_live_search="true" })
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(model => model.Claim.Accident.StatuteOfLimitations, "Statute of Limitations")<br />
                                @Html.TextBoxFor(model => model.Claim.Accident.StatuteOfLimitations, new {@disabled="disabled", @class = "form-control disabled small-input" })
                                @Html.HiddenFor(model => model.Claim.Accident.StatuteOfLimitations)
                            </div>
                            <div class="col-xs-3">
                                @Html.CheckBoxFor(m => m.Claim.TowedFromSite)
                                @Html.Label("Towed from site")
                                <br/>
                                @Html.CheckBoxFor(m => m.Claim.AirbagsDeployed)
                                @Html.Label("Airbags deployed")
                            </div>
                        </div>

                        <div class="row form-group form-group-sm">
                            <div class="col-xs-7">
                                <fieldset class="fs-group">
                                    <legend class="fs-group">Location of Damage</legend>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            @Html.EditorFor(m => m.Claim.Accident.DamageLeftFront)
                                            @Html.Label("Left Front")
                                            <br />
                                            @Html.EditorFor(m => m.Claim.Accident.DamageRightFront)
                                            @Html.Label("Right Front")
                                        </div>
                                        <div class="col-xs-4">
                                            @Html.EditorFor(m => m.Claim.Accident.DamageLeftSide)
                                            @Html.Label("Left Side")
                                            <br />
                                            @Html.EditorFor(m => m.Claim.Accident.DamageRightSide)
                                            @Html.Label("Right Side")
                                        </div>
                                        <div class="col-xs-4">
                                            @Html.EditorFor(m => m.Claim.Accident.DamageLeftBack)
                                            @Html.Label("Left Rear")
                                            <br />
                                            @Html.EditorFor(m => m.Claim.Accident.DamageRightBack)
                                            @Html.Label("Right Rear")
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-xs-5">
                                @Html.LabelFor(model => model.Claim.FactsOfLoss, "Facts of Loss")
                                @Html.TextAreaFor(model => model.Claim.FactsOfLoss, new { @rows = "3", @class = "form-control" })
                            </div>
                        </div>

                        <div class="row form-group form-group-sm">
                            <div class="col-xs-12">
                                <fieldset class="fs-group">
                                    <legend class="fs-group">Insurance Information</legend>
                                    <div class="form-group form-grop-sm row">
                                        <div class="col-xs-3">
                                            @Html.LabelFor(m => m.Claim.Carrier,"Carrier")
                                            @Html.TextBoxFor(m => m.Claim.Carrier, new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.LabelFor(m => m.Claim.CarrierClaimNumber, "Carrier Claim #")
                                            @Html.TextBoxFor(m => m.Claim.CarrierClaimNumber, new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.LabelFor(m => m.Claim.Accident.AtFaultVin, "At Fault VIN")
                                            @Html.TextBoxFor(m => m.Claim.Accident.AtFaultVin, new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.LabelFor(m => m.Claim.PoliceCaseNumber, "Police Case #")
                                            @Html.TextBoxFor(m => m.Claim.PoliceCaseNumber, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group form-group-sm row">
                                        <div class="col-xs-4">
                                            @Html.LabelFor(m => m.Claim.Policy, "Policy Number")
                                            @Html.TextBoxFor(m => m.Claim.Policy, new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-4">
                                            @Html.LabelFor(m => m.Claim.InsuredFirstName, "First Name", new { @title = "Insured First Name", data_toggle = "tooltip" })
                                            @Html.TextBoxFor(m => m.Claim.InsuredFirstName, new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-4">
                                            @Html.LabelFor(m => m.Claim.InsuredLastName, "Last Name", new { @title = "Insured Last Name", data_toggle = "tooltip" })
                                            @Html.TextBoxFor(m => m.Claim.InsuredLastName, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group form-group-sm row">
                                        <div class="col-xs-4">
                                            @Html.LabelFor(m => m.Claim.Carrier, "Address", new { @title = "Insured Address", data_toggle = "tooltip" })
                                            @Html.TextAreaFor(model => model.Claim.InsuredAddress, new { @rows="3", @class = "form-control" })
                                        </div>
                                        <div class="col-xs-2">
                                            @Html.LabelFor(m => m.Claim.InsuredCity, "City", new { @title = "Insured City", data_toggle = "tooltip" })
                                            @Html.TextBoxFor(m => m.Claim.InsuredCity, new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.LabelFor(m => m.Claim.InsuredState, "State", new { @title = "Insured State", data_toggle = "tooltip" })
                                            @Html.DropDownListFor(model => model.Claim.InsuredState, SelectListItemHelper.GetStateList(), new { @class = "selectpicker", data_live_search = "true" })
                                        </div>
                                        <div class="col-xs-2">
                                            @Html.LabelFor(m => m.Claim.InsuredZip, "Zip", new { @title = "Insured Zip", data_toggle = "tooltip" })
                                            @Html.TextBoxFor(m => m.Claim.InsuredZip, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Vehicle Title Information*@
            <div class="panel panel-default">
                <div class="panel-heading section-header" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" class="collapsed" data-target="#collapseVehicleTitle">
                            Vehicle Title Information
                        </a>
                    </h4>
                </div>
                <div id="collapseVehicleTitle" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div id="vehicleTitle" class="panel-body" style="padding-bottom: 2px !important;">
                        <div class="row">
                            <div class="col-xs-5">
                                @Html.EditorFor(model => model.Claim.Vehicle.VehicleTitleHistory.MajorDamageIncidentRecord) @Html.Label("Major Damage Incident Record")
                            </div>
                            <div class="col-xs-4">
                                @Html.EditorFor(model => model.Claim.Vehicle.VehicleTitleHistory.WaterDamageTitle) @Html.Label("Water Damage Title")
                            </div>
                            <div class="col-xs-3">
                                @Html.EditorFor(model => model.Claim.Vehicle.VehicleTitleHistory.HailDamage) @Html.Label("Hail Damage")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                @Html.EditorFor(model => model.Claim.Vehicle.VehicleTitleHistory.InsuranceLossTitleRecord) @Html.Label("Insurance Loss Title Record")
                            </div>
                            <div class="col-xs-4">
                                @Html.EditorFor(model => model.Claim.Vehicle.VehicleTitleHistory.FrameDamageRecord) @Html.Label("Frame Damage Record")
                            </div>
                            <div class="col-xs-3">
                                @Html.EditorFor(model => model.Claim.Vehicle.VehicleTitleHistory.RentalFleetRecord) @Html.Label("Rental/Fleet Record")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                @Html.EditorFor(model => model.Claim.Vehicle.VehicleTitleHistory.JunkOrScrappedTitle) @Html.Label("Junk or Scrapped Title")
                            </div>
                            <div class="col-xs-4">
                                @Html.EditorFor(model => model.Claim.Vehicle.VehicleTitleHistory.AccidentRecord) @Html.Label("Accident Record")
                            </div>
                            <div class="col-xs-3">
                                @Html.EditorFor(model => model.Claim.Vehicle.VehicleTitleHistory.SalvagedTitle) @Html.Label("Salvaged Title")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                @Html.EditorFor(model => model.Claim.Vehicle.VehicleTitleHistory.FireDamageIncidentRecord) @Html.Label("Fire Damage Incident Record")
                            </div>
                            <div class="col-xs-4">
                                @Html.EditorFor(model => model.Claim.Vehicle.VehicleTitleHistory.OdometerTitleProblem) @Html.Label("Odometer Title Problem")
                            </div>
                            <div class="col-xs-3">
                                @Html.EditorFor(model => model.Claim.Vehicle.VehicleTitleHistory.TitleBranded) @Html.Label("Title Branded")
                            </div>
                        </div>
                        <div class="form-group form-group-sm row" style="padding-bottom: 2px !important;">
                            <div class="col-xs-3" title="Number of previous owners" data-toggle="tooltip">
                                @Html.LabelFor(model => model.Claim.Vehicle.VehicleTitleHistory.NumberOfPreviousOwners, "Number of Previous Owners")
                            </div>
                            <div class="col-xs-2" title="Number of previous owners" data-toggle="tooltip">
                                @Html.TextBoxFor(model => model.Claim.Vehicle.VehicleTitleHistory.NumberOfPreviousOwners, new { @type = "number", @class = "form-control" })
                            </div>
                            <div class="col-xs-7"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    } 
    @*END UPDATE CLAIM FORM*@
</div>
<!-- Tab section of Notes, Documents, Contacts and History -->
<div class="row main-col" style="padding: 15px;">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#notes-tab">Notes</a></li>
        <li><a data-toggle="tab" href="#documents-tab">Documents</a></li>
        <li><a data-toggle="tab" href="#checks-tab">Checks</a></li>
        <li><a data-toggle="tab" href="#history-tab">History</a></li>
        <li><a data-toggle="tab" href="#contacts-tab">Contacts</a></li>
        <li><a data-toggle="tab" href="#client-info-tab">Client Info</a></li>
    </ul>

    <div class="tab-content" style="border-left: 1px solid #dedede; border-right: 1px solid #dedede; border-bottom: 1px solid #dedede;">
        <!-- Notes tab-->
        <div id="notes-tab" class="tab-pane fade in active">
            <div id="notes" class="panel-body ">
                <fieldset>
                    <div class="row form-group form-group-sm">
                        <div class="col-xs-4">
                            <button type="button" data-toggle="modal" data-target="#addNoteModal" class="btn btn-default" id="AddNote">Add Note</button>
                        </div>
                    </div>
                    <div class="row form-group form-group-sm">
                        <div class="col-xs-12">
                            <div id="dvNoteResults">
                                @{ Html.RenderPartial("_ViewNote", Model); }
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    @using (Ajax.BeginForm("AddNote", "Claim",
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            UpdateTargetId = "dvNoteResults",
                            OnSuccess = "OnAddNoteSuccess()",
                            OnFailure = "OnAddNoteFailure()"
                        }))
                    {
                        <div id="addNoteModal" class="modal" role="dialog" data-backdrop="false" style="width: 22em; height:30em; margin: 0 auto;">
                            <div class="modal-dialog modal-sm" style="margin: 0;">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div id="DragWithModalHeader" class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Add Note</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row form-group">
                                            <div class="col-sm-12">
                                                @Html.Label("Note:")
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.TextAreaFor(model => model.Note.Content, new { @Style = "height:200px; width:19em; resize: none;" })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-4">
                                                @Html.HiddenFor(model => model.Claim.Id)
                                                @Html.HiddenFor(model => model.Note.Id)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="AddNote btn btn-success" name="SubmitNote" id="SubmitNote" value="Add Note" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.Claim.Id, new { id = "Id" });
                    }
                </fieldset>
                <fieldset>
                    @using (Ajax.BeginForm("UpdateNote", "Claim",
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        UpdateTargetId = "dvNoteResults",
                        OnSuccess = "OnUpdateNoteSuccess()",
                        OnFailure = "OnUpdateNoteFailure()"
                    }))
                    {
                        <div id="editNoteModal" class="modal" role="dialog" data-backdrop="false" style="width: 22em; height:30em; margin: 0 auto;">
                            <div class="modal-dialog modal-sm" style="margin: 0;">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div id="EditNoteModalHeader" class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit Note</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row form-group">
                                            <div class="col-sm-12">
                                                @Html.Label("Note:")
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.TextAreaFor(model => model.UpdatedNote.Content, new { @Style = "height:200px; width:19em; resize: none;" })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-4">
                                                @Html.HiddenFor(model => model.Claim.Id)
                                                @Html.HiddenFor(model => model.UpdatedNote.Id)
                                                <input type="submit" class="UpdateNote" name="UpdateNote" id="UpdateNote" value="Update Note" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            @Html.HiddenFor(model => model.Claim.Id, new { id = "Id" });
                    }
                </fieldset>
            </div>
        </div>
        <!-- Documents tab -->
        <div id="documents-tab" class="tab-pane fade">
            <div id="documentSection" class="panel-body">
                <fieldset>
                    <div class="row form-group form-group-sm">
                        <div class="col-xs-12">
                            <span class="faxFormButtonDisabled btn btn-default disabled" data-toggle="tooltip" title="No document selected. Please select a document.">Fax</span>
                            <button id="faxFormButton" type="button" data-toggle="modal" data-target="#faxDocumentModal" class="faxFormButtonEnabled btn btn-default">Fax</button>
                            <button type="button" data-toggle="modal" data-target="#addDocumentModal" class="btn btn-default">Add Document</button>
                        </div>
                    </div>
                    <div class="row form-group form-group-sm">
                        <div class="col-xs-12">
                            <div id="dvDocumentResults">
                                @{ Html.RenderPartial("_ViewDocument", Model); }
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- Add Document Modal -->
                <fieldset>
                    <div id="addDocumentModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close CancelAddDocument" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add Document</h4>
                                </div>
                            @using (Html.BeginForm("AddDocument", "Claim", FormMethod.Post, new { enctype = "multipart/form-data", name = "AddDocumentForm" }))
                                        {
                                    <div class="modal-body">
                                        <div class="row form-group form-group-sm">
                                            <div class="col-xs-10">
                                                @Html.Label(string.Concat("Attach Document for Claim ", Model.Claim.Id))
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" id="AddFileInputField" class="btn btn-default fa fa-plus"></button>
                                            </div>
                                        </div>

                                        <div id="FileUploadArea">
                                            @{ Html.RenderAction("GetAdditionalDocumentFileInput", "Claim", new { claimId = Model.Claim.Id }); }
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.Claim.Id, new { id = "Id" })
                                    <div class="modal-footer">
                                        <input type="submit" class="AddDocument btn btn-success" name="AddDocument" id="AddDocument" value="Add Document" disabled />
                                        <button type="button" class="btn btn-default CancelAddDocument" data-dismiss="modal">Cancel</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!--Update Document Type Modal-->
                <fieldset>
                    @using (Ajax.BeginForm("UpdateDocumentType", "Claim",
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            UpdateTargetId = "dvDocumentResults",
                            OnSuccess = "OnUpdateDocumentTypeSuccess()",
                            OnFailure = "OnUpdateDocumentTypeFailure()"
                        }))
                    {
                        <div id="editDocumentTypeModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Change Document Type</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row form-group form-group-sm">
                                            <div class="col-xs-12">
                                                <label>Change Document Type for Claim @Model.Claim.Id </label>
                                            </div>
                                        </div>
                                        <div class="row form-group form-group-sm">
                                            <div class="col-sm-6">
                                                @Html.Label("Document Type")
                                                @Html.DropDownListFor(model => model.Document.DocumentType, Model.DocumentTypes, new { @class = "form-control edit-document-type" })
                                                @Html.HiddenFor(model => model.Claim.Id)
                                                @Html.HiddenFor(model => model.Document.Id)
                                            </div>
                                        </div>
                                        <div class="row edit-other-description">
                                            <div class="col-sm-6">
                                                @Html.Label("Description")
                                                @Html.TextBoxFor(model => model.Document.OtherTypeDescription, new { @class="form-control", @maxlength = "150" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-success" name="UpdateDocumentType" id="UpdateDocumentType" value="Update" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.Claim.Id, new { id = "Id" });
                }
                </fieldset>
            </div>
        </div>
        <!-- Checks tab -->
        <div id="checks-tab" class="tab-pane fade">
            <div id="checkSection" class="panel-body">
                <fieldset>
                    <div class="row form-group form-group-sm">
                        <div class="col-xs-12">
                            @if (Model.Claim.ClaimState != Claim.State.New)
                            {
                                <button type="button" data-toggle="modal" data-target="#addCheckModal" class="btn btn-default">Add Check</button>
                            }
                            else
                            {
                                <span type="button" data-toggle="tooltip" title="Claim not in a valid state for adding check." class="btn btn-default disabled">Add Check</span>
                            }
                        </div>
                    </div>
                    <div class="row form-group form-group-sm">
                        <div class="col-xs-12">
                            <div id="dvCheckResults">
                                @{ Html.RenderPartial("_ViewChecks", Model); }
                            </div>
                        </div>
                    </div>
                </fieldset>
                @*Add Claim Check*@
                <fieldset>
                    <div id="addCheckModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add Check</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row form-group form-group-sm">
                                        <label for="formGroupInputLarge1" class="col-sm-3 control-label">Filename:</label>
                                        <div class="col-sm-4">
                                            <div class="col-sm-2">
                                                <input type="file" name="CheckUpload" id="CheckUpload" /><br />
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="row form-group form-group-sm">
                                        <div class="col-xs-12">
                                            <label class="btn btn-primary" for="CheckUpload">
                                                <input id="CheckUpload" name="CheckUpload" type="file" style="display: none;">
                                                Choose Filename...
                                            </label>
                                            <span class="label upload-file-name" id="check-file-name"></span>
                                        </div>
                                    </div>*@
                                    <div class="row form-group form-group-sm">
                                        <div class="col-xs-4">
                                            @Html.Label("Check Number")
                                            @Html.TextBoxFor(model => model.Document.Check.Number, new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-4">
                                            @Html.Label("Check Amount")
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">$</span>
                                                @Html.TextBoxFor(model => model.Document.Check.Amount, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Document.Check.Amount)
                                        </div>
                                        <div class="col-xs-4">
                                            @Html.Label("Confirm Amount")
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">$</span>
                                                @Html.TextBoxFor(model => model.Document.Check.ConfirmAmount, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Document.Check.ConfirmAmount)
                                        </div>
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.Claim.Id, new { id = "ClaimId" })
                                @Html.HiddenFor(model => model.Document.Check.Id, new { id = "CheckId" })
                                <div class="modal-footer">
                                    <input type="button" class="AddCheck btn btn-success" name="AddCheck" id="AddCheck" value="Add Check" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <!-- Contacts Tab -->
        <div id="contacts-tab" class="tab-pane fade">
            <div id="contacts" class="panel-body">
                <div class="row form-group form-group-sm">
                    <div class="col-xs-1">
                        @Html.ActionLink("Add Contact", "AddClaimContact", "Claim", new { claimId = Model.Claim.Id }, new { @class = "btn btn-default", data_target = "#modal-container", data_toggle = "modal" })
                    </div>
                </div>
                <div class="row form-group form-group-sm">
                    <div class="col-xs-7">
                        <div id="dvContactResults">
                            @{ Html.RenderPartial("_ViewContact", Model); }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- History Tab -->
        <div id="history-tab" class="tab-pane fade">
            <div id="history" class="panel-body ">
                <div id="dvHistoryResults">
                    @{ Html.RenderPartial("_ViewClaimHistory", Model.ClaimWorkflowHistory); }
                </div>
            </div>
        </div>
        <!-- Client Info Tab-->
        <div id="client-info-tab" class="tab-pane fade">
            <div id="client-info" class="panel-body ">
                <div>
                    @Html.Action("GetClientInfo", "Claim", new { claimId = Model.Claim.Id } )
                    @*@{ Html.RenderPartial("_ViewClientInfo", Model.Claim.Client); }*@
                </div>
            </div>
        </div>

    </div>
</div>

