@using VanWagenen.Dvc.Web.Helpers

@{
    ViewData["Title"] = "Home Page";
}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script src="@Url.Content("~/Scripts/app/Dashboard.js")"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="container">
    <div class="row">
        <div class="jumbotron col-lg-6 col-lg-offset-3">
            <h2 class="text-center">DVC Dashboard</h2>
        </div>
        <div id="Users" class="col-lg-3" data-request-url="@Url.Action("GetUserDashboardData", "Home")"></div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <h3 class="text-center">Inventory</h3>
            </div>
            <div id="inventory" class="row">

            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <h3 class="text-center">Productivity</h3>
            </div>
            <div id="productivity" class="row">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="chart_div"></div>
        </div>
    </div><br />
    <div class="row">
        <div class="col-lg-12">
            <div id="chart_div2"></div>
        </div>
    </div>
</div>

















    @*<div class="col-lg-12">
        <h2>Application uses</h2>
        <ul>
            <li>Creating and managing Diminished Value Claim Workflows</li>
            <li>Billing clients based on claims processed</li>
            <li>Dashboards and reporting for Diminished Value Claims</li>
            <li>To find a claim you can simply enter the following url:  /Claim/ViewClaim/1 where 1 is the claim id</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>How to</h2>
        <ul>
            <li>@Html.FontAwesomeActionLink("Find Help", "Help", "Home", "fa-question-circle")</li>
            <li>VanWagenen.Dvc.Web.dll version:  @ViewBag.Version</li>
        </ul>
    </div>*@
