@using VanWagenen.Dvc.Web.Helpers
@using VanWagenen.Dvc.Repository.Models

@model VanWagenen.Dvc.Web.ViewModels.CreateClaimViewModel

@section Scripts{
    <script src="~/Scripts/app/preprocessingClaim.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate*"></script>
}
<div class="col-sm-12">
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="error">@Model.ErrorMessage</div>
        <a href="@Url.Action("Index", "Preprocessing")" title="Exit">
            <span title="Return to Preprocessing Queue" class="btn btn-default">Exit</span>
        </a>
    }
    else
    {
        using (Html.BeginForm("AddClaim", "Preprocessing", new { vin = Model.Claim.Vehicle.VIN }, FormMethod.Post, new { @class = "form-vertical", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Claim.Id)
            @Html.HiddenFor(model => model.Claim.ClaimState)
            @Html.HiddenFor(model => model.ClientVehicleId)

            <h4>Create Claim for VIN @Model.Claim.Vehicle.VIN</h4>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    @Html.Label("Facts of Loss")
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    @Html.TextAreaFor(m => m.Claim.FactsOfLoss, new { style = "width:100%; height:12em;" })
                </div>
            </div>

            <div class="row">
                <div><h3>At-fault party information</h3></div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    @Html.LabelFor(m => m.Claim.Accident.AtFaultVin)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    @Html.EditorFor(m => m.Claim.Accident.AtFaultVin)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    @Html.Label("Insured First Name:")
                </div>
                <div class="col-sm-4">
                    @Html.Label("Insured Last Name:")
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Claim.InsuredFirstName)
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Claim.InsuredLastName)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    @Html.Label("Address:")
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    @Html.TextAreaFor(model => model.Claim.InsuredAddress, new { style = "width:100%;" })
                </div>
            </div>


            <div class="row">
                <div class="col-sm-4">
                    @Html.Label("City:")
                </div>
                <div class="col-sm-4">
                    @Html.Label("State:")
                </div>
                <div class="col-sm-4">
                    @Html.Label("Zip:")
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Claim.InsuredCity)
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.Claim.InsuredState, SelectListItemHelper.GetStateList())
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Claim.InsuredZip)
                </div>
            </div>

            <div class="row">
                <div><h3>At-fault carrier information</h3></div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.Label("Carrier:")
                </div>
                <div class="col-sm-4">
                    @Html.Label("Policy #:")
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Claim.Carrier, new { htmlAttributes = new { @required = "required" } })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Claim.Policy)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.Label("Phone #:")
                </div>
                <div class="col-sm-4">
                    @Html.Label("Fax #:")
                </div>
                <div class="col-sm-4">
                    @Html.Label("E-mail:")
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Contact.PhoneNumber, new { htmlAttributes = new { @class = "phoneNumberMask", @required = "required", pattern = ".{12,}", title = "Number must have 10 digits" } })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Contact.FaxNumber, new { htmlAttributes = new { @class = "phoneNumberMask", pattern = ".{0}|.{12,}", title = "Fax must have 10 digits" } })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Contact.EmailAddress)
                </div>
            </div>

            <div class="row">
                <div><h3>Accident Details</h3></div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.Label("Date of Loss:")
                </div>
                <div class="col-sm-4">
                    @Html.Label("Accident City:")
                </div>
                <div class="col-sm-4">
                    @Html.Label("Accident State:")
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Claim.Accident.Date)
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Claim.Accident.City)
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.Claim.Accident.State, SelectListItemHelper.GetStateList())
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <span>@Html.CheckBoxFor(m => m.Claim.TowedFromSite)</span> <span>@Html.Label("Towed from Scene")</span>
                </div>
                <div class="col-sm-6">
                    <span>@Html.CheckBoxFor(m => m.Claim.AirbagsDeployed)</span> <span>@Html.Label("Airbags Deployed")</span>
                </div>
            </div>

            <br />

            <div class="row form-group text-center">
                <div class="col-sm-12">
                    <input class="btn btn-success" type="submit" value="Create" style="width:100%;" />
                </div>
            </div>
        }
    }
</div>
