@using VanWagenen.Dvc.Web.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DVC Version @typeof(MvcApplication).Assembly.GetName().Version</title>
    @Styles.Render("~/Styles/css")
    @Styles.Render("~/Content/fontawesome")
    @using VanWagenen.Dvc.Web.Authorization
    @RenderSection("styles", false)

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/momentjs")
    @Scripts.Render("~/bundles/jquerymask")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/dragdrop")

    <script type="text/javascript">
        $(function () {
            var pageSize = 20;
            var getClaimsUrl = '@Url.Action("GetClaimsBoard", "Claim")';
            $(".navbar-claimSearch").select2(
            {
                ajax: {
                    delay: 150,
                    url: getClaimsUrl,
                    dataType: "json",
                    data: function (params) {
                        params.page = params.page || 1;
                        return {
                            searchTerm: params.term,
                            pageSize: pageSize,
                            pageNumber: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * pageSize) < data.Total
                            }
                        };
                    }
                },
                placeholder: "Search",
                minimumInputLength: 0,
                allowClear: true,
            });
        });
    </script>
    <script>
        (function () {
            $('select.required').change(function () {
                var total = $('select.required').length;
                var selected = $('#navbar-searchForm').find("select.required option[value!='':selected").length;
                $('#navbar-searchForm').prop('disabled', (selected != total));
            });
        })();

        $(function () {
            $('#claimId').change(function () {
                this.form.submit();
            });
        });

        $(function () {
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>

    @RenderSection("scripts", required: false)

    <style>
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -1px;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Diminished Value Claims", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.FontAwesomeActionLink("Dashboard", "Dashboard", "Home", "fa-tachometer")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Client <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "navbar-clientForm", @class = "navbar-form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="checkbox">
                                        <input id="checkBoxFord" class="styled" type="checkbox" disabled checked />
                                        <label for="checkBoxFord">Ford</label>
                                    </div>
                                }
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Claims <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if (User.IsInAnyRoles(Constants.Roles.ClaimsProcessor, Constants.Roles.Manager))
                            {
                                <li>@Html.FontAwesomeActionLink("Work Queue", "WorkQueue", "Claim", "fa-tags")</li>
                            }
                            
                            <li>@Html.FontAwesomeActionLink("Advanced Search", "AdvancedSearch", "AdvancedSearch", "fa-search")</li>
                        </ul>
                    </li>
                    @if (User.IsInAnyRoles(Constants.Roles.ClaimsProcessor, Constants.Roles.Manager))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Preprocessing <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.FontAwesomeActionLink("Preprocessing Queue", "Index", "Preprocessing", "fa-tags")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.FontAwesomeActionLink("All Claims", "AllClaimsReport", "ManagerReports", "fa-tags")</li>
                                <li>@Html.FontAwesomeActionLink("New Claims", "NewClaimsReport", "ManagerReports", "fa-tags")</li>
                                <li>@Html.FontAwesomeActionLink("Closed Claims", "ClosedClaimsReport", "ManagerReports", "fa-tags", new { closedClaimsToRetreive = "AllClosed" })</li>
                                <li>@Html.FontAwesomeActionLink("User Productivity", "UserProductivityReport", "ManagerReports", "fa-tags")</li>
                                <li>@Html.FontAwesomeActionLink("Internal VIN Tracking", "InternalVinTrackingReport", "ManagerReports", "fa-tags")</li>
                                <li class="dropdown-submenu">
                                    <a class="test" href="#">Aged Claims <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.FontAwesomeActionLink("0-30 Days Old", "AgedClaimsReport", "ManagerReports", "fa-tags", new { minimumAge = 0, maximumAge = 30 })</li>
                                        <li>@Html.FontAwesomeActionLink("31-60 Days Old", "AgedClaimsReport", "ManagerReports", "fa-tags", new { minimumAge = 31, maximumAge = 60 })</li>
                                        <li>@Html.FontAwesomeActionLink("61-90 Days Old", "AgedClaimsReport", "ManagerReports", "fa-tags", new { minimumAge = 61, maximumAge = 90 })</li>
                                        <li>@Html.FontAwesomeActionLink("91-120 Days Old", "AgedClaimsReport", "ManagerReports", "fa-tags", new { minimumAge = 91, maximumAge = 120 })</li>
                                        <li>@Html.FontAwesomeActionLink("121+ Days Old", "AgedClaimsReport", "ManagerReports", "fa-tags", new { minimumAge = 121, maximumAge = 9999 })</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    }               
                    @if (User.IsInRole(Constants.Roles.Manager))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manager <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.FontAwesomeActionLink("Manager Dashboard", "ManagerDashboard", "ManagerReports", "fa-tachometer",
                                                    new { startDate = String.Format("{0:yyyy-MM-dd}", DateTime.Today), endDate = String.Format("{0:yyyy-MM-dd}", DateTime.Today) })
                                </li>
                                <li>@Html.FontAwesomeActionLink("Escalation Queue", "EscalationQueue", "ManagerReports", "fa-tags")</li>
                                <li>@Html.FontAwesomeActionLink("Manage Record Locks", "RecordLocks", "ManagerReports", "fa-lock")</li>
                                <li>@Html.FontAwesomeActionLink("Billing", "BillingReport", "ManagerReports", "fa-money")</li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole(Constants.Roles.Administrator))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.FontAwesomeActionLink("DVC Configuration", "DvcConfiguration", "Admin", "fa-gears")
                                </li>
                                <li>
                                    @Html.FontAwesomeActionLink("Manage Users", "UserList", "Admin", "fa-group")
                                </li>
                                <li>
                                    @Html.FontAwesomeActionLink("Client Configuration", "ClientConfiguration", "Admin", "fa-gears")
                                </li>
                                <li>
                                    @Html.FontAwesomeActionLink("Reopen Claim", "ReopenClaim", "Admin", " fa-folder-open")
                                </li>
                            </ul>
                        </li>
                    }
                 </ul>               

                <ul class="nav navbar-nav navbar-right">
                    <li style="padding-top:1em">
                        <span>DVC Version: @typeof(MvcApplication).Assembly.GetName().Version</span>
                    </li>
                    <li class="select2-container">
                        @using (Html.BeginForm("WorkQueue", "Claim", FormMethod.Post, new { role = "form", @class = "navbar-form navbar-left", id = "navbar-searchForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="input-group">
                                <select class="navbar-claimSearch form-control" style="width: 170px;" name="claimId" id="claimId" required></select>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
</body>
</html>
