@using Microsoft.Ajax.Utilities
@model VanWagenen.Dvc.Web.ViewModels.ClientBrandViewModel

@using (Html.BeginCollectionItem("ClientBrands"))
{
    <div class="row BrandListItem">
        <div class="col-xs-12">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.LogoFileHiddenName, new { @class = "BrandLogoHiddenName" })
            <div class="col-xs-2">
                @Html.EditorFor(model => model.BrandCode, new { htmlAttributes = new { @class = "form-control Brand-Code" } })
            </div>
            <div class="col-xs-2">
                @Html.EditorFor(model => model.LegalName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-xs-2">
                <label for="@Model.BrandCode">
                    @Html.EditorFor(model => model.LogoFileLocation, new { htmlAttributes = new { @type = "file", @accept = ".jpg,.jpeg,.gif,.png,.bmp,.tiff" } })
                </label>
            </div>
            <div class="col-xs-2">
                <span class="brand-logo-file-path">
                    @if (!Model.LogoFileLocation.IsNullOrWhiteSpace())
                    {
                        <img class="brand-logo" src="~/Images/Logos/@Path.GetFileName(Model.LogoFileLocation)" alt="Client Logo" />
                    }
                </span>
            </div>
            <br />
            <br />
        </div>
    </div>
}


