@model VanWagenen.Dvc.Web.ViewModels.ClientLetterViewModel
@{ var editLetterId = string.Concat("edit-letter-", Model.Id.ToString());}
@{ var viewLetterId = string.Concat("view-letter-", Model.Id.ToString());}
@{ var letterRowId = string.Concat("letter-row-", Model.Id.ToString());}
@{ var letterDescClass = string.Concat("letter-description-", Model.Id.ToString());}
@{ var letterEnabledClass = "letter-enabled-" + Model.Id.ToString();}
<div class="row" id="@letterRowId">
    <div class="col-sm-7">

        <div id="@viewLetterId" class="row form-group form-group-sm">
            <div class="col-sm-1">
                <span data-id="@Model.Id" class="fa fa-pencil edit-letter" style="cursor: pointer;"></span>
                <span data-id="@Model.Id" class="fa fa-trash delete-letter" style="cursor: pointer;"></span>
            </div>
            <div class="col-sm-3">
                @Html.DisplayFor(model => model.FileName)
            </div>
            <div class="col-sm-4">
                <span class="@letterDescClass">@Model.LetterDescription</span>
            </div>
            <div class="col-sm-1 @letterEnabledClass">
                @if (Model.Enabled)
                {
                    <span class="fa fa-check-square-o"></span>
                }
                else
                {
                    <span class="fa fa-square-o"></span>
                }
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row form-group" id="@editLetterId" style="display: none;">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                @Html.DisplayFor(model => model.FileName)
            </div>
            <div class="col-sm-4">
                @Html.TextBox("edit-letter-description-" + Model.Id.ToString(), Model.LetterDescription, new { maxLength="150", @class = "form-control input-sm" })
            </div>
            <div class="col-sm-1">
                @Html.CheckBox("edit-letter-enabled-" + Model.Id.ToString(), Model.Enabled)
            </div>
            <div class="col-sm-2">
                <span class="btn btn-default btn-sm save-letter-changes" data-id="@Model.Id" title="Submit Changes" data-toggle="tooltip"><i class="fa fa-check save-icon"></i></span>
                <span class="btn btn-default btn-sm cancel-letter-changes" data-id="@Model.Id" title="Cancel Changes" data-toggle="tooltip"><i class="fa fa-remove"></i></span>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>


