@model VanWagenen.Dvc.Web.ViewModels.CreateUserViewModel
<div class="modal-body">
    <div class="row form-group form-group-sm">
        <div class="col-sm-2" style="min-width: 188px;">
            @Html.Label("Domain Name")
            @Html.EditorFor(model => model.DomainName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
            @Html.ValidationMessageFor(model => model.DomainName, "", new { @class = "error" })
        </div>
        <div class="col-sm-2" style="min-width: 188px;">
            @Html.Label("Full Name")
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "error" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-2" style="min-width: 188px;">
            <fieldset class="fs-group">
                <legend class="fs-group">Roles</legend>
                @for (var i = 0; i < Model.SelectedRoles.Count(); i++)
                {
                    <table>
                        <tr>
                            <td>
                                <label>
                                    @Html.CheckBoxFor(model => model.SelectedRoles[i].Selected)
                                    @Model.SelectedRoles[i].RoleName
                                </label>
                                @Html.HiddenFor(model => model.SelectedRoles[i].RoleId)
                            </td>
                        </tr>
                    </table>
                }
            </fieldset>
        </div>
        <div id="cp-settings" class="col-sm-4">
            <fieldset class="fs-group">
                <legend class="fs-group">Claims Processor Settings</legend>
                <div class="row form-group form-group-sm">
                    <div class="col-xs-8">
                        <fieldset class="fs-group">
                            <legend class="fs-group" title="Associate this user with specific clients" data-toggle="tooltip">Clients</legend>
                            @for (var i = 0; i < Model.SelectedClients.Count(); i++)
                            {
                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                @Html.CheckBoxFor(model => model.SelectedClients[i].Selected)
                                                @Model.SelectedClients[i].LegalName
                                            </label>
                                            @Html.HiddenFor(model => model.SelectedClients[i].ClientId)
                                        </td>
                                    </tr>
                                </table>
                            }
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        @Html.CheckBoxFor(m => m.Enabled)
                        @Html.Label("Enabled")
                        <br />
                        <span class="text-gray">The Enabled property currently determines if a Claims Processor will be included in the round robin queue assignment.</span>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>


