@model VanWagenen.Dvc.Web.ViewModels.CreateUserViewModel
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
<div class="page-header">
    <h2>Create User</h2>
</div>
@Html.Partial("_BaseMessages")
@Html.ValidationSummary(true, "", new { @class = "error" })
<div class="user-details-container">
    @using (Html.BeginForm("CreateUser", "Admin", new { @SortBy = ViewBag.SortBy }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_UserEditFields");
        <div>
            <button type="submit" class="btn btn-success">Create</button>
            @Html.ActionLink("Cancel", "UserList", "Admin", new { @SortBy = ViewBag.SortBy }, new { @class = "btn btn-default" })
        </div>
    }
</div>
