@model VanWagenen.Dvc.Web.ViewModels.DvcConfigurationViewModel
@using VanWagenen.Dvc.Web.Helpers
@{
    var modelType = typeof(VanWagenen.Dvc.Web.ViewModels.DvcConfigurationViewModel);
    var properties = modelType.GetProperties();
}

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
<div class="page-header">
    <h2>DVC Configuration</h2>
</div>
@Html.Partial("_BaseMessages")
@using (Html.BeginForm("SubmitDvcConfiguration", "Admin", FormMethod.Post))
{
    <div>
        <span class="text-gray">Changes to the DVC Configuration Settings can have a negative impact on the application.  Changes to these settings should be done by someone with a technical understanding of the application.</span>
    </div>

    <div class="dvc-configuration-container">
        @Html.AntiForgeryToken()
        <table class="table table-striped table-condensed table-responsive">
            <tr>
                <th class="col-sm-3">
                    Setting
                </th>
                <th class="col-sm-4">
                    Value
                </th>
                <th class="col-sm-5"></th>
            </tr>
            @foreach (var property in properties)
            {
                if (property.Name != "ErrorMessage" && property.Name != "StatusMessage")
                {
                    <tr>
                        <td class="col-sm-3">
                            @property.Name
                        </td>
                        <td class="col-sm-4">
                            @{ string propVal = property.GetValue(Model) == null ? "" : property.GetValue(Model).ToString(); }
                            @Html.TextBox(@property.Name, @propVal, new { style = "max-width: 100% !important; width: 100%;" })
                            @Html.ValidationMessage(@property.Name, new { @class = "error" })
                        </td>
                        <td class="col-sm-5"></td>
                    </tr>
                }
            }
        </table>
        <div>
            <button type="submit" id="save-dvc-settings" name="submit" class="btn btn-success">Save</button>
            @Html.ActionLink("Cancel", "DvcConfiguration", "Admin", new { @class = "btn btn-default" })
        </div>
    </div>
}
