
@model VanWagenen.Dvc.Web.ViewModels.ReopenClaimViewModel

@{
    ViewBag.Title = "ReOpen Claim";
}

@section Scripts{
    <script src="~/Scripts/app/ReopenClaim.js" type="text/javascript"></script>
}

<div class="page-header">
    <h3>Reopen Claim</h3>
</div>

@Html.Partial("_BaseMessages")

@using (Html.BeginForm("ReopenClaims", "Admin", FormMethod.Post, new { id = "ReopenClaimForm" }))
{
    <div id="Claims-To-Reopen" class="container col-sm-6">
        <div class="row">
            <div class="col-sm-3">
                @Html.Label("Claim IDs")
            </div>
            <div class="col-sm-3">
                @Html.Label("Reassign to user")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                @Html.TextAreaFor(model => model.ClaimsToReopen, new { @class = "form-control", style = "resize : vertical", overflow = "scroll", rows = 5, required = "required", id = "ClaimsToReopenTextArea" })
            </div>
            <div class="col-sm-3">
                @Html.DropDownListFor(model => model.AssigneeId, Model.Assignees, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-1 col-sm-offset-4">
                <button type="submit" id="Reopen-Claims" class="btn btn-success">Submit</button>
            </div>
            <div class="col-sm-1">
                <button type="button" id="CancelReopenClaim" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
}