@model VanWagenen.Dvc.Web.ViewModels.EscalationQueueViewModel
@using VanWagenen.Dvc.Web.Helpers

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
<div class="page-header">
    <h3>Escalation Queues</h3>
</div>
@Html.Partial("_BaseMessages")
<div class="container aging-queue-container">

    <!-- Tabs/Pills -->
    @*<div class="container">*@
        <ul class="nav nav-pills"> 
            @foreach (var key in Model.EscalationQueues.Keys)
            {
                var threshold = key;
                var csActive = "";
                if (threshold == Model.CurrentThreshold)
                {
                    csActive = "active";
                }
                <li class="@csActive"><a data-toggle="pill" href="#div-@threshold">@threshold days</a></li>
            }
        </ul>

        <div class="tab-content">
        @foreach (var key in Model.EscalationQueues.Keys)
        {
            var threshold = key;
            var csDisplay = "";
            var claimsList = Model.EscalationQueues[key];
            if (threshold == Model.CurrentThreshold)
            {
                csDisplay = "in active";
            }
            <div id="div-@threshold" class="tab-pane fade @csDisplay">
                <h3>Threshold: @threshold days</h3>
                <table id="claimTable" class="table table-striped table-hover" style="border-top: thin solid gainsboro">
                    <thead>
                        <tr>
                            <th>
                                @Html.Label("Claim Id")
                            </th>
                            <th>
                                @Html.Label("Claim Created")
                            </th>
                            <th>
                                @Html.Label("Claim Age (days)")
                            </th>
                            <th>
                                @Html.Label("Vehicle")
                            </th>
                            <th>
                                @Html.Label("Status")
                            </th>
                            <th>
                                @Html.Label("Status Date")
                            </th>
                            <th>
                                @Html.Label("Status Age (days)")
                            </th>
                            <th>
                                @Html.Label("Carrier")
                            </th>
                            <th>
                                @Html.Label("State")
                            </th>
                            <th>
                                @Html.Label("Actions")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var agedClaim in claimsList)
                        {
                            <tr class="rowhover" onclick="location.href = '@(Url.Action("ViewClaim", "Claim", new { id = agedClaim.ClaimId }))'">
                                <td>
                                    <span>@agedClaim.ClaimId.ToString()</span>
                                </td>
                                <td>
                                    <span>@agedClaim.ClaimOpenDate.ToLocalTime()</span>
                                </td>
                                <td>
                                    <span title="@agedClaim.DaysAged days since claim was created" data-toggle="tooltip">@agedClaim.DaysAged</span>
                                </td>
                                <td>
                                    <span>@agedClaim.VehicleYearMakeModel</span>
                                </td>
                                <td>
                                    <span>@agedClaim.ClaimState.GetDisplayName()</span>
                                </td>
                                <td>
                                    <span>@agedClaim.ClaimStateDate</span>
                                </td>
                                <td>
                                    <span title="@agedClaim.ClaimStateAge days in current status" data-toggle="tooltip">@agedClaim.ClaimStateAge</span>
                                </td>
                                <td>
                                    <span>@agedClaim.Carrier</span>
                                </td>
                                <td>
                                    <span>@agedClaim.InsuredState</span>
                                </td>
                                <td>
                                    @Html.ActionLink(" ", "MarkAsReviewed", "Claim", new { claimId = agedClaim.ClaimId, fromEscalationQueue = true, agedClaim.ClientId }, new { @class = "fa fa-times", @title="Mark this claim as 'Reviewed' and clear from queue", data_toggle="tooltip" })                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>              
            </div>
        }
        </div>
    @*</div>*@

</div>