@using Microsoft.Ajax.Utilities
@model VanWagenen.Dvc.Web.ViewModels.UserProductivityReportViewModel

@{
    ViewBag.Title = "User Productivity Report";
}
@section Scripts {
    <script src="@Url.Content("~/Scripts/app/ManagerReports.js")"></script>
}

<h2>User Productivity Report</h2>

<div class="row">
    <div class="col-sm-2">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Assignee Name</th>
                <th>Claims Touched</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.UserClaimAudits)
            {
                <tr style="cursor: pointer" class="claimsPerUser">
                    <td class="perUserAssignee">@user.Assignee.Name</td>
                    <td>@user.ClaimsWorkedCount</td>
                </tr>
            }
            </tbody>
        </table>
    </div> 
    
    <div class="col-sm-4">
        @Html.AntiForgeryToken()
        @using (Html.BeginForm("UserProductivityReport", "ManagerReports", FormMethod.Post))
        {
            <div class="form-group">
                @Html.Label("Client")
                @Html.DropDownListFor(m => m.SelectedClient, Model.ClientList, new {@class = "form-control"})
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.StartDate)
                @Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { id = "StartDate", @class = "form-control", type="date" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.EndDate)
                @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { id = "EndDate", @class = "form-control", type = "date" } })
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" id="ShowAll" class="btn btn-default">Show All</button>
        }
    </div>
</div>

<div class="row">
    
    <div class="col-sm-12">
        <table id="ProductivityReportTable" class="table table-hover">
            <thead>
            <tr>
                <th>@Html.DisplayName("Claim Id")</th>
                <th>@Html.DisplayName("Carrier")</th>
                <th>@Html.DisplayName("Facts Of Loss")</th>
                <th>@Html.DisplayName("Claim State")</th>
                <th>@Html.DisplayName("Towed From Site ")</th>
                <th>@Html.DisplayName("Airbags Deployed ")</th>
                <th>@Html.DisplayName("Insured Last Name ")</th>
                <th>@Html.DisplayName("Insured First Name ")</th>
                <th>@Html.DisplayName("Insured Address ")</th>
                <th>@Html.DisplayName("Insured City ")</th>
                <th>@Html.DisplayName("Insured State")</th>
                <th>@Html.DisplayName("Insured Zip")</th>
                <th>@Html.DisplayName("Created Date")</th>
                <th>@Html.DisplayName("Police Case Number")</th>
                <th>@Html.DisplayName("Carrier Claim Number")</th>
                <th>@Html.DisplayName("Age")</th>
                <th>@Html.DisplayName("Assignee")</th>
                <th>@Html.DisplayName("Pending Wait Date")</th>
                <th>@Html.DisplayName("Last Updated By")</th>
                <th>@Html.DisplayName("Last Updated Utc")</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var record in Model.ClaimAuditRecords)
                {
                    <tr onclick="location.href = '@(Url.Action("ViewClaim", "Claim", new {id = record.ClaimId}))'" style="cursor: pointer">
                        @Html.Hidden("AuditId", record.AuditId, new { @class = "auditId" })
                        <td class="claimId">@record.ClaimId</td>
                        <td>@record.Carrier</td>
                        <td>@record.FactsOfLoss</td>
                        <td>@record.ClaimState.ToString()</td>
                        <td>@record.TowedFromSite</td>
                        <td>@record.AirbagsDeployed</td>
                        <td>@record.InsuredLastName</td>
                        <td>@record.InsuredFirstName</td>
                        <td>@record.InsuredAddress</td>
                        <td>@record.InsuredCity</td>
                        <td>@record.InsuredState</td>
                        <td>@record.InsuredZip</td>
                        <td>@record.CreatedDate</td>
                        <td>@record.PoliceCaseNumber</td>
                        <td>@record.CarrierClaimNumber</td>
                        <td>@record.Age</td>
                        <td>@record.Assignee.Name</td>
                        <td>@record.PendingWaitDate</td>
                        <td class="assigneeName">
                            @if (record.LastUpdatedBy != null)
                            {
                                @record.LastUpdatedBy.Name
                            }
                        </td>
                        <td>@record.LastUpdatedUtc</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>